// Colors
$off-black: #0F1419;
$smoke: #151C23;
$gray: #979899;
$screen: #0B0C10;
$white: #ffffff;
$primary: #30C996;
$light-smoke: #1D2630;
$danger: #C94F30;

// Sizing
$s-size: .8rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// Breakpoints
$desktop-breakpoint: 45rem;